<div class="content">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>About Us</h3>
                    <p class="big grey">The Hack4Reno Team</p>

                </div>
            </div>
            <hr />
           </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="col-l">

                        <div class="pic">
                            <img src="img/will.jpg" alt="" class="img-responsive" />
                        </div>
                    </div>

                    <div class="col-r">
                        <div class="sinfo">

                            <h4>Will Kurt</h4>

                            <h6 class="grey">Hacker Extraordinaire</h6>

                            <div class="social">
                                <a href="https://www.facebook.com/willkurt" class="tip" data-original-title="Facebook"><i class="icon-facebook facebook"></i></a>
                                <a href="https://twitter.com/willkurt" class="tip" data-original-title="Twitter"><i class="icon-twitter twitter"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 col-sm-6">

                    <p class="ainfo">Will Kurt is a master student and a developer.</p>

                </div>
            </div>

                <hr />

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="col-l">

                            <div class="pic">
                                <img src="img/garrett.jpg" alt="" class="img-responsive" />
                            </div>
                        </div>

                        <div class="col-r">
                            <div class="sinfo">

                                <h4>Garrett McCullough</h4>

                                <h6 class="grey">AngularJS Guru</h6>

                                <div class="social">
                                    <a href="https://www.facebook.com/garrett.mccullough" class="tip" data-original-title="Facebook"><i class="icon-facebook facebook"></i></a>

                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-6 col-sm-6">

                        <p class="ainfo">Garrett is a developer in Truckee, California.</p>

                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="col-l">

                            <div class="pic">
                                <img src="img/aaron.jpg" alt="" class="img-responsive" />
                            </div>
                        </div>

                        <div class="col-r">
                            <div class="sinfo">

                                <h4>Aaron Ellis</h4>
                                <h6 class="grey">Go and Python Ninja</h6>
                                <div class="social">
                                    <a href="https://www.facebook.com/aaronoellis" class="tip" data-original-title="Facebook"><i class="icon-facebook facebook"></i></a>
                                    <a href="https://plus.google.com/103698572942177978481/posts" class="tip" data-original-title="Google Plus"><i class="icon-google-plus google-plus"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-6 col-sm-6">

                        <p class="ainfo">Aaron is a Web Developer freelancer who works and lives in Reno, Nevada.</p>

                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="col-l">

                            <div class="pic">
                                <img src="img/erik.jpg" alt="" class="img-responsive" />
                            </div>
                        </div>

                        <div class="col-r">
                            <div class="sinfo">

                                <h4>Erik Hanchett</h4>

                                <h6 class="grey">Front End Samurai</h6>

                                <div class="social">
                                    <a href="https://www.facebook.com/computation" class="tip" data-original-title="Facebook"><i class="icon-facebook facebook"></i></a>
                                    <a href="https://twitter.com/erikch" class="tip" data-original-title="Twitter"><i class="icon-twitter twitter"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-6 col-sm-6">

                        <p class="ainfo">Erik is a local developer and MBA student.</p>

                    </div>
                </div>

        </div>
    </div>
