

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <h3>Housing Data</h3>
                <p class="big grey">Enter your search data below</p>

            </div>
            <p>
            <div class="col-md-6 text-right">
            <div class="btn-group" data-toggle="buttons">
                <button type="button" ng-click="resultType='map'" class="btn btn-default" ng-class="{active:resultType=='map'}">Map</button>
                <button type="button" ng-click="resultType='list'" class="btn btn-default" ng-class="{active:resultType=='list'}">List</button>
            </div>
        </div>
            </p>
        </div>
        <hr />
<form id="query" role="form" ng-model="query">
    <div class="row">

        <div class="col-md-6 col-sm-6">

            <div class="form-group">
                <label for="DisplayAddress1">Street Address</label>
                <input ng-model="query.DisplayAddress1" type="text" class="form-control" id="DisplayAddress1" placeholder="Enter street address">
            </div>
            <div class="form-group">
                <label for="street-address">Bedroom Count</label>
                <select ng-model="query.bedroom_count" class="form-control" id="bedroom-count">
                    <option></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="street-address">Bathroom Count</label>
                <select ng-model="query.bathroom_count" class="form-control" id="bathroom-count">
                    <option></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="min_sale_price">Min Sale Price</label>
                <input ng-model="query.min_sale_price" type="text" class="form-control" id="street_address" placeholder="Enter street address">
            </div>
            <div class="form-group">
                <label for="max_sale_price">Max Sale Price</label>
                <input ng-model="query.max_sale_price" type="text" class="form-control" id="street_address" placeholder="Enter street address">
            </div>

        </div>

        <div ng-show="resultType =='map'">
                <div class="col-md-6 col-sm-6">
                    <google-map center="center" draggable="true" zoom="zoom" markers="markers" mark-click="false" refresh="refreshMap" style="height: 400px; display:block;"></google-map>
                </div>
        </div>
        <div ng-show="resultType =='list'">
            <div ng-repeat="property in properties | startFrom:(currentPage-1)*pageSize | limitTo:pageSize | filter:query" >
            <!--  Service #1 -->
            <!-- Service icon -->

            <div class="service-content">
                <!-- Title -->
                <h5><a ng-href="#/property/{{property.ParcelNumber}}">{{property.DisplayAddress1}}</a></h5>
                <p>Beds: {{property.building.Bedrooms}} Baths: {{property.building.Baths}}, Square Feet: {{property.BldgSquareFeet}}, Last Sale Price: {{property.sales.SaleAmount | currency}}</p>
            </div>

            <hr />
            </div>

            <div class="text-right col-md-offset-6">

                   <!-- <pager total-items="totalItems" page="currentPage"></pager> -->
                    <!--<pager boundary-links="true" total-items="totalItems" page="currentPage" class="pagination-small" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pager> -->
                    <pager total-items="properties.length" page="currentPage"  items-per-page="4"></pager>
                    Page {{currentPage}}/{{Math.ceil(properties.length/pageSize)}}


            </div>
        </div>

    </div>
</form>

</div>
</div>
</div>





<div ng-show="resultType =='test'">
    {{properties}}
</div>
