

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <h3>Housing Data</h3>
                <p class="big grey">Enter your search data below</p>

            </div>
            <p>
            <div class="col-md-6 text-right">
            <div class="btn-group" data-toggle="buttons">
                <button type="button" ng-click="resultType='map'" class="btn btn-default" ng-class="{active:resultType=='map'}">Map</button>
                <button type="button" ng-click="resultType='list'" class="btn btn-default" ng-class="{active:resultType=='list'}">List</button>
            </div>
        </div>
            </p>
        </div>
        <hr />
<form id="query" role="form" ng-model="query">
    <div class="row">

        <div class="col-md-6 col-sm-6">

            <div class="form-group">
                <label for="DisplayAddress1">Street Address</label>
                <input ng-model="query.DisplayAddress1" type="text" class="form-control" id="DisplayAddress1" placeholder="Enter street address">
            </div>
            <div class="form-group">
                <label for="Bedrooms">Bedroom Count</label>
                <select ng-model="query.Bedrooms" class="form-control" id="Bedrooms">
                    <option></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Baths">Bathroom Count</label>
                <select ng-model="query.Baths" class="form-control" id="Baths">
                    <option></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="min_SaleAmount">Min Sale Price</label>
                <input ng-model="query.min_SaleAmount" type="text" class="form-control" id="min_SaleAmount">
            </div>
            <div class="form-group">
                <label for="max_SaleAmount">Max Sale Price</label>
                <input ng-model="query.max_SaleAmount" type="text" class="form-control" id="max_SaleAmount">
            </div>

        </div>

        <div ng-show="resultType =='map'">
                <div class="col-md-6 col-sm-6">
                    <google-map center="center" draggable="true" zoom="zoom" markers="markers" mark-click="false" refresh="refreshMap" style="height: 400px; display:block;"></google-map>
                </div>
        </div>
        <div ng-show="resultType =='list'">
            <table border="1" ts-wrapper>
                <thead>
                <tr>
                    <th>Select</th>
                    <th ts-criteria="DisplayAddress1 | lowercase" ts-default>Street Address</th>
                    <th ts-criteria="SaleAmount | parseFloat">Sale Price</th>
                    <th ts-criteria="Bedrooms | parseInt">Bedrooms</th>
                    <th ts-criteria="Baths | parseInt">Bathrooms</th>
                    <th ts-criteria="BldgSquareFeet | parseFloat">Size</th>
                </tr>
                </thead>
                <tbody ng-repeat="property in properties | startFrom:0 | limitTo:10 | filter:query" ts-repeat>
                <tr>
                    <td><input ng-model="property.showDrawer" type="checkbox" /></td>
                    <td><a ng-href="#/property/{{property.ParcelNumber}}" title="See property details.">{{property.DisplayAddress1}}</a></td>
                    <td>{{property.sales.SaleAmount | currency}}</td>
                    <td>{{property.building.Bedrooms}}</td>
                    <td>{{property.building.Baths}}</td>
                    <td>{{property.BldgSquareFeet}}</td>
                </tr>
                <tr ng-show="property.showDrawer">
                    <td colspan=6>{{property.ParcelNumber}}</td>
                </tr>
                </tbody>
            </table>
            <div class="text-right col-md-offset-6">

                   <!-- <pager total-items="totalItems" page="currentPage"></pager> -->
                    <!--<pager boundary-links="true" total-items="totalItems" page="currentPage" class="pagination-small" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pager> -->
                    <pager total-items="properties.length" page="currentPage" items-per-page="5"></pager>


            </div>
        </div>

    </div>
</form>
        {{properties.length}}
        {{currentPage}}
</div>
</div>
</div>





<div ng-show="resultType =='test'">
    {{properties}}
</div>
